*.log

.idea/

.gradle/

*.iml

*.zip

*.class

target/

docs/

build/

grails-app/conf/*

*.js

*.png

*.gif

*.jpg

*.ico

*.css

*.html

*.tld

web-app/WEB-INF/applicationContext.xml

web-app/WEB-INF/sitemesh.xml

.DS_Store

plugin.xml
