<plugin name='weak-ssl' version='1.0' grailsVersion='1.3.6 &gt; *'>
  <author>Shawn Hartsock</author>
  <authorEmail>hartsock@acm.org</authorEmail>
  <title>WeakSSL</title>
  <description>\
This plugin deliberately breaks SSL for you by accepting
any SSL certificate.
</description>
  <documentation>http://grails.org/plugin/weak-ssl</documentation>
  <type>WeakSSLGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>